* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --border-radius-value: 3px;
}

.layer {
  width: 100vw;
  height: 100vh;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layerChart {
  position: relative;
  width: 900px;
  height: 600px;
  background-color: #fff;
  cursor: pointer;
}

.svgChart {
  height: 100%;
  width: 100%;
}

.chartLine {
  fill: none;
  stroke: #c6c4b7;
  stroke-width: 1px;
}

.rectAnglePart1 {
  fill: #7cb900;
  stroke-width: 3;
  border-top-left-radius: var(--border-radius-value);
  border-top-right-radius: var(--border-radius-value);
}

.rectAnglePart2 {
  fill: #009300;
  stroke-width: 3;
}

.rectAnglePart3 {
  fill: #006a00;
  stroke-width: 3;
  border-bottom-left-radius: var(--border-radius-value);
  border-bottom-right-radius: var(--border-radius-value);
}

.textRectangle {
  fill: red;
  transform-origin: 0 0;
  transform: rotate(-90deg);
}

.rectAnglePart1Group {
}
